*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f8f8;
  color: #333;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 3rem;
}

button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #2980b9;
}

.bowl-container {
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.bowl {
  position: relative;
  width: 100%; /* or set a fixed width */
  height: 300px; /* Adjust as needed for your bowl size */
  padding: 130px 200px; /* Larger padding */
  background-color: white;
  overflow: hidden; /* Ensure contents don't overflow out of the bowl */
  border-radius: 50%; /* Optional for round bowl look */
}

.bowl-item {
  position: absolute;
  background-color: #ececec;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px;
  transition: transform 0.5s ease;
}

@keyframes fly {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(var(--random-x), var(--random-y));
  }
}

.flying {
  animation: fly 2s ease-in-out infinite;
}

.tournament-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.round {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.match {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 250px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.contestant {
  width: 100px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.cup-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto auto);
  gap: 20px;
}

.btn-container {
  display: flex;
  margin-bottom: 10px;
}

.line {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0 10px;
}

.round-1 .match:nth-child(odd) {
  background-color: #d0e8ff; /* Light color for odd matches */
}

.round-1 .match:nth-child(even) {
  background-color: #e8f0ff; /* Light color for even matches */
}

.round-2 .match {
  border: 2px solid #3498db; /* Highlight for round 2 matches */
}

.round-3 .match {
  border: 2px solid #2ecc71; /* Highlight for round 3 matches */
}

.final-winner-container {
  margin-top: 30px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
